@font-face {
  font-family: LuckiestGuyR;
  src: url('./assets/fonts/LuckiestGuy-Regular.ttf');
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-navbar {
  background-color: #1e242531;
  padding: 15px;
}
h1 {
  font-family: LuckiestGuyR !important;
  color: #9e7e65;
}
th {
  font-family: LuckiestGuyR !important;
  font-size: 25px;
  font-weight: 100;
}
.bg-brown {
  background-color: rgb(238, 205, 120);
  height: 180vh;
}
th {
  color:rgb(252, 216, 126);
}
tr {
  font-weight: 700;
  text-transform: capitalize;
}
.bg-yellow {
  background-color: #bd997c;
}
